/*-------------------------------------------------
    [ ## preloader ]
*/
.preloader {
  position: fixed;
  z-index: 9999999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $body--bg;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
  
  .loader-circle {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    margin-left: -60px;
    margin-top: -60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  
  .loader-circle img {
    width: 60%;
    height: 60%;
    -o-object-fit: contain;
    object-fit: contain;
    margin-bottom: 20px;
    margin-right: 20px;
  }
  
  .loader-line-mask {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 60px;
    height: 120px;
    margin-left: -60px;
    margin-top: -60px;
    overflow: hidden;
    -webkit-transform-origin: 60px 60px;
    transform-origin: 60px 60px;
    -webkit-mask-image: -webkit-linear-gradient(top, #000000, rgba(0, 0, 0, 0));
            mask-image: -webkit-linear-gradient(top, #000000, rgba(0, 0, 0, 0));
    -webkit-animation: rotate 1.2s infinite linear;
    animation: rotate 1.2s infinite linear;
  }
  
  .loader-line-mask .loader-line {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.5);
  }
  
  @-webkit-keyframes rotate {
    0% {
      -webkit-transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
    }
  }
  @keyframes rotate {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }


::selection{
    background-color: $base--color;
    color: $white;
}
/*-------------------------------------------------
    [ ## scrollToTop ]
*/
.scrollToTop {
  position: fixed;
  bottom: 0;
  right: 30px;
  width: 35px;
  height: 35px;
  padding: 7px;
  line-height: 1;
  font-weight: 600;
  background-color: $base--color;
  border-radius: 5px;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transform: translateY(-50000%);
          transform: translateY(-50000%);
}
.scrollToTop small {
  display: block;
  text-transform: uppercase;
  font-size: 8px;
}
.scrollToTop.active {
  bottom: 30px;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}
/*-------------------------------------------------
  [ ## Header ]
*/
.header-section{
  position: absolute;
  width: 100%;
  z-index: 9;
}
    .header-area{
        color: $white;
        display: flex;
        @media only screen and (max-width: 570px) {
            display: block;
        }
    }
    .social-icons{
        li{
            padding: 0px 10px;
        }
    }
    .contact{
        .item{
            padding: 0px 10px;
            font-size: 16px;
        }
    }

.navber-section{
     background-color: $white; 
     .search input{
        padding: 10px;
        border-radius: 60px;
        margin-top: 5px;
        border: 1px solid $border--base;
        width: 200px;
        height: 40px;
        font-size: 16px;
        &::placeholder{
            color: rgba($white, 0.05);
            font-size: 14px;
        }
    }
    .search button{
        padding: 5px 15px;   
        border-radius: 50px;
        margin-left: 5px;
        margin-top: 5px;
        color: $white;
        background-color: $base--color;
    }
    .search button:hover{
        background-color: $base--color;
        transition: all 0.6s;
    }
}

.header {
    background-color: transparent;
    width: 100%;
    z-index: 9;
}
.header-section.header-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  background-color: transparent;
  margin-top: 0;
  animation-fill-mode: initial;
  .header-top-area{
      display: none !important;
  }
  .header-bottom-area{
    background-color: #0a0a0af1;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}
.header-bottom-area{
    position: relative;
    background: $section--bg;
    @media only screen and (max-width: 991px) {
        background-color: $body--bg;
    }
    .navbar-expand-lg{
        background-color: transparent;
        @media (max-width: 991px) {
          padding: 15px !important;
        }
    }
    @media (max-width: 991px) {
        .navbar-collapse{
            background-color: transparent !important;
            padding: 0 !important;
        }
        .navbar-collapse .main-menu {
            padding: 15px 0;
        }
        .menu_has_children .sub-menu {
            display: none !important;
            li{
                width: 100%;
            }
        }
        .navbar-collapse .main-menu .menu_has_children.show .sub-menu ,
        .navbar-collapse .main-menu .menu_has_children.show .sub-menu {
            display: flex !important;
            flex-wrap: wrap;
        }
    }
    .navbar-collapse .main-menu li:last-child .sub-menu {
        left: auto;
        right: 0;
    }
    .navbar-collapse .main-menu{
        align-items: center;
        @media only screen and (max-width: 991px) {
            align-items: flex-start;
        }
    }
    .navbar-collapse .main-menu li {
        position: relative;
        padding-right: 40px;
        @media only screen and (max-width:1199px) {
            padding-right: 15px !important;
        }
        &:last-child{
            padding-right: 0;
            margin-right: 0;
        }
        &:hover .sub-menu{
            transform: scaleY(1);
        }
    }
    .navbar-collapse .main-menu li.menu_has_children {
        position: relative;
        i{
            font-size: 12px;
            margin-left: 5px;
        }
    }
    @media (max-width: 991px) {
        .navbar-collapse .main-menu li.menu_has_children::before {
            top: 12px;
            right: 15px;
        }
    }
    .navbar-collapse .main-menu li a {
        position: relative;
        padding: 22px 0;
        font-weight: 600;
        font-size: 16px !important;
        align-items: center;
        color: $color--text;
        display: inline-block;
        font-size: 15px;
        transition: all 0.5s;
        z-index: 9;
        @media only screen and (max-width: 1199px) {
          font-size: 14px !important;
        }
        &::after{
            position: absolute;
            content: '';
            bottom: 0px;
            left: 0;
            width: 0;
            height: 2px;
            background-color: $base--color;
            transition: all 0.5s;
        }
        &:hover{
            color: $base--color;
            &::after{
                width: 100%;
            }
        }
        &.active{
            color: $base--color;
            &::after{
                width: 100%;
            }
        }
    }
    
    @media (max-width: 991px) {
        .navbar-collapse .main-menu li a {
            padding: 12px 15px !important;
        }
    }
    .navbar-collapse .main-menu li .sub-menu {
        position: absolute;
        top: 60px;
        left: 0px;
        padding: 10px 5px;
        width: 180px;
        background-color: $section--bg;
        border: 1px solid $border--base;
        border-radius: 15px;
        display: block;
        transform: scaleY(0);
        transform-origin: top left;
        transition: all 0.5s;
        z-index: 10;
        @media only screen and (max-width: 991px) {
            width: 180px;
        }
        li{
            margin-right: 0;
            padding-right: 0;
            transition: all ease 0.5s;
            position: relative;
            z-index: 2;
            &:last-child {
                border-bottom: 0px solid;
            }
            &:hover{
                a{
                    color: $base--color;
                }
            }
            a {
                width: 100%;
                font-size: 12px;
                padding: 5px 15px;
                display: block;
                transition: all ease 0.3s;
                &::before{
                    display: none;
                }
                
            }
        }
    }
    @media (max-width: 991px) {
        .navbar-collapse .main-menu li .sub-menu {
            position: initial;
            opacity: 1;
            visibility: visible;
            display: none;
            -webkit-transition: none;
            transition: none;
        }
    }
    .navbar-collapse .main-menu li:last-child .sub-menu {
        left: auto;
        right: 0;
    }
}
.site-logo{
    max-width: 150px;
    @media only screen and (max-width: 991px) {
        max-width: 100px;
    }
}
.header-action{
    margin-left: 40px;
    @media only screen and (max-width: 991px) {
        margin-left: 12px;
    }
}
.language-select{
    background: transparent;
    color: $white;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    font-weight: 500;
    @media only screen and (max-width: 991px) {
        margin-left: 12px;
    }
}
.header-link{
    @media only screen and (max-width: 991px) {
        display: none;
    }
    a{
        color: $white;
        i{
            color: $base--color;
            margin-right: 5px;
            font-size: 16px;
        }
    }
    a+a{
        margin-left: 20px;
    }
}
.header-social{
    li{
      display: inline-block;
      font-size: 13px;
      color: $white;
    }
    li + li{
      margin-left: 15px;
    }
}
.notification-icon{
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($white, 0.05);
    color: $color--text;
    border: 1px solid $border--base;
    border-radius: 10px;
    font-size: 20px;
    i{
      color: $base--color;
    }
}
.navbar-toggler:focus {
    box-shadow: none;
}
.navbar-toggler span {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 5px;
    background-color: $base--color;
    color: $white;
    font-size: 14px;
}


.account-section{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: $white;
  .title{
    color: $white;
  }
  transition: all 0.3s;
  &.two,
  &.active{
      opacity: 1;
      visibility: visible;
      transition-delay: .2s ease-out;
      .account-bg{
          transition-timing-function: cubic-bezier(0.86, 0.27, 0.17, 0.2);
          transition-delay: 0.2s;
          &::after{
              width: 100%;
          }
      }
      .account-area{
          transform: scale(1);
          transition-timing-function: cubic-bezier(0.9, 0.25, 0.08, 0.2);
          transition: all 0.5s;
          top: 0;
          z-index: 9;
      }
  }
  &.register{
      position: relative;
      min-height: 100vh;
      z-index: 1;
      display: block;
      .account-thumb{
          position: absolute;
          top: 0;
          left: 0;
          width: 45%;
          height: 100%;
          @media only screen and (max-width: 1199px) {
              width: 40%;
          }
          @media only screen and (max-width: 991px) {
              width: 50%;
          }
          @media only screen and (max-width: 767px) {
              width: 100%;
              height: 400px;
          }
          img{
              width: 100%;
              height: 100%;
              object-fit: cover;
          }
      }
      .right{
          padding: 1.5rem 2rem;
          width: 55%;
          min-height: 100vh;
          display: flex;
          flex-wrap: wrap;
          flex-direction: column;
          justify-content: center;
          background-color: #000000;
          @media only screen and (max-width: 1199px) {
              width: 60%;
          }
          @media only screen and (max-width: 991px) {
              width: 50%;
          }
          @media only screen and (max-width: 767px) {
              width: 100%;
              padding: 1.5rem 1rem;
              padding-top: 430px;
          }
          .account-area{
              border-radius: 0;
              padding: 0;
              width: 100%;
              .account-form-area{
                  width: 100%;
                  padding-left: 0;
              }
          }
      }
  }
}

.account-bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  transition-duration: 0.2s;
  &::after{
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      background: rgb(10, 14, 23);
      background: linear-gradient(90deg, rgba(10, 14, 23, 0.8) 0%, rgba(10, 14, 23, 0.8) 100%);
      transition: all 0.5s;
  }
}

.account-section-img{
    width: 100%;
    height: 100%;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 15px;
    }
    @media only screen and (max-width: 767px) {
        display: none;
    }
}
.account-area{
  background-color: $section--bg;
  border-radius: 10px;
  padding: 30px;
  position: relative;
  background-position: bottom;
  transform: scale(0);
  transition: all 0.5s;
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  display: none;
  flex-wrap: wrap;
  align-items: center;
  overflow: hidden;
  overflow-y: auto;
  @media only screen and (max-width: 991px) {
      width: 700px;
  }
  @media only screen and (max-width: 767px) {
      width: 500px;
  }
  @media only screen and (max-width: 600px) {
      width: 400px;
  }
  @media only screen and (max-width: 420px) {
      width: 350px;
      padding: 15px;
  }
  @media only screen and (max-width: 375px) {
      width: 300px;
  }
  &.change-form{
      display: flex;
      @media only screen and (max-width: 991px) {
          display: block;
      }
  }
  .account-form-area{
      width: 100%;
      @media only screen and (max-width: 991px) {
          width: 100%;
          padding-left: 0;
      }
  }
  p{
      font-size: 12px;
      font-weight: 500;
      margin-bottom: 30px;
  }
  .account-close{
      width: inherit;
      text-align: center;
      position: absolute;
      top: 10px;
      right: 10px;
      z-index: 9;
      width: 40px;
      height: 40px;
      cursor: pointer;
      background-color: $base--color;
      border-radius: 50%;
      &::before{
          position: absolute;
          content: '';
          height: 2px;
          width: 20px;
          background-color: $white;
          transition: all .3s ease-in;
          left: 11px;
          top: 49%;
          transform: rotate(45deg);
      }
      &::after{
          position: absolute;
          content: '';
          height: 2px;
          width: 20px;
          background-color: $white;
          transition: all .3s ease-in;
          left: 11px;
          bottom: 48%;
          transform: rotate(-45deg);
      }
      &:hover{
          &::before,
          &::after{
              transform: rotate(0);
          }
      }
  }
}
.or-area{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 37px;
  .or-line{
      height: 1px;
      border: 0.5px solid $border--base;
      flex-grow: 1;
  }
  .or-title{
      margin-bottom: 0;
      font-size: 13px;
      font-weight: 500;
  }
}
.account-form-btn{
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  a{
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: $base--color;
      border-radius: 50%;
      margin: 8px;
      &.facebook{
          background-color: #3A5795;
      }
      &.google{
          background-color: #4285F4;
      }
      &.apple{
          background-color: #000000;
      }
      svg{
          fill: $white;
      }
  }
}
.account-item{
  label{
      font-weight: 500;
      font-size: 15px;
      a{
          font-weight: 600;
          color: $base--color;
      }
  }
}
.terms-item{
  label{
      font-weight: 500;
      font-size: 15px;
      margin-bottom: 0;
      a{
          font-weight: 600;
          color: $base--color;
          text-decoration: underline;
      }
  }
}
.account-footer{
  p{
      font-size: 15px;
  }
}
.account-thumb{
  position: relative;
  .account-thumb-title{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      text-align: center;
  }
  &::before{
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(180deg, rgba(2, 1, 1, 0) 19%, #0A0B0F 95%);
      border-radius: 5px;
  }
}
.account-logo{
  margin-bottom: 30px;
  text-align: center;
}
.show_hide_password{
  position: relative;
  .show-pass{
      position: absolute;
      top: 10px;
      right: 30px;
      font-size: 14px;
      cursor: pointer;
      &.two{
          top: 50px;
      }
  }
}
.account-form{
    .show_hide_password{
        position: relative;
        .show-pass{
            position: absolute;
            top: 14px;
            right: 30px;
            font-size: 14px;
        }
    }
    .show_hide_password-2{
       position: relative;
       .show-pass{
        position: absolute;
        top: 14px;
        right: 30px;
        font-size: 14px;
    }
    }
}
.forgot-password-content{
    p{
        font-size: 13px;
    }
}
.register-form-input{
    padding-top: 20px;
}