/*-------------------------------------------------
    [ ## Overlay Element ]
*/
.bg_img {
  background-size: cover;
  background-position: center;
	background-repeat: no-repeat !important; 
}
.bg-fixed {
	background-attachment: fixed;
}
.bg-overlay-base {
  position: relative;
}
.bg-overlay-base:after {
  content: "";
  position: absolute;
  background-image: linear-gradient(-250deg, $section--bg 30%, rgba(25, 25, 25, 0) 100%);
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.bg-overlay-base > div {
  position: relative;
  z-index: 2;
}