/*--------------------------------------------------------------
    [ ## team ]
--------------------------------------------------------------*/
@import "./team";

/*--------------------------------------------------------------
    [ ## Testimonial ]
--------------------------------------------------------------*/
@import "./testimonial";

/*--------------------------------------------------------------
    [ ## Sections ]
--------------------------------------------------------------*/
@import "./sections";

/*--------------------------------------------------------------
    [ ## Blog ]
--------------------------------------------------------------*/
@import "./blog";

/*--------------------------------------------------------------
    [ ## dashboard ]
--------------------------------------------------------------*/
@import "./dashboard.scss";